<section class="contacto">
    <div class="contacto__item">
        <h1 class="yweb__title">Contacto 📞</h1>
        <p class="yweb__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat dolores, tempora alias voluptate architecto reprehenderit iste laborum tempore sunt eligendi.</p>
        <ul>
            <li><a href="mailto:example@gmail.com"><i class='bx bx-mail-send nav__icon'></i>  contacto@yweb.com</a></li>
            <li><a href="mailto:example@gmail.com"><i class='bx bxl-whatsapp nav__icon'></i>  +57 3003003020</a></li>
        </ul>
    </div>
    <div class="contacto__item">
        <form action="" class="formulario__yweb" id="formulario" method="post">
            {{!-- Grupo Nombre --}}
            <div class="formulario__grupo" id="grupo__nombre">
                <label for="nombre" class="formulario__label">Nombre</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="fomulario__input" name="nombre" id="nombre" placeholder="Joe">
                    <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                </div>
                <p class="formulario__input-error">El nombre puede ser de 3 a 16 digitos  y solo puede contener letras.</p>
            </div>

            {{!-- Grupo Apellido --}}
            <div class="formulario__grupo" id="grupo__apellido">
                <label for="apellido" class="formulario__label">Apellido</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="fomulario__input" name="apellido" id="apellido" placeholder="Doe">
                    <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                </div>
                <p class="formulario__input-error">El apellido puede ser de 3 a 16 digitos  y solo puede contener letras.</p>
            </div>

            {{!-- Grupo Correo  --}}
            <div class="formulario__grupo" id="grupo__correo">
                <label for="correo" class="formulario__label">Correo Electronico</label>
                <div class="formulario__grupo-input">
                    <input type="email" class="fomulario__input" name="correo" id="correo" placeholder="corro@cooreo.com">
                    <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                </div>
                <p class="formulario__input-error">El correo solo puede contener numero, letras y gruion bajo.</p>
            </div>

            {{!-- Grupo Telefono  --}}
            <div class="formulario__grupo" id="grupo__telefono">
                <label for="telefono" class="formulario__label">Telefono</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="fomulario__input" name="telefono" id="telefono" placeholder="301 000 0000">
                    <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                </div>
                <p class="formulario__input-error">El telefono solo puede contener numeros.</p>
            </div>
        </form>
    </div>
</section>