<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="icon" type="image/x-icon" href="./../public/img/favicon-yweb.svg">
    <!-- BOX ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./../public/css/main.css">
    <title>Yweb 🚀</title>
    <!-- OPEN GRAPH -->
    <meta property="og:title" content="Yweb 🚀" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Agencia de desarrollo web en Barranquilla, contruyamos tu idea juntos, hacemos tu proyecto realidad.">
    <meta property="og:url" content="yweeb.com" />
    <meta property="og:image" content="https://raw.githubusercontent.com/yjgarizabalo/Yweb/master/src/public/img/hero__yweb_04.jpg" />
    <!-- META DATOS -->
    <meta name="description" content="Agencia de desarrollo web en Barranquilla, contruyamos tu idea juntos, hacemos tu proyecto realidad.">
    <meta name="keywords" content="Paginas Web Barranquilla, Dessarrollo Web Barranquilla, Diseño Web Barranquilla, Fotografo Barranquilla">
    <meta name="author" content="Yweb">
    <!-- MANIFIESTO PWA -->
    <link rel="manifest" href="./src/public/json/manifest.json">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/yjgarizabalo/Yweb/master/src/public/img/favicon__yweb.png">
    <meta name="theme-color" content="#130A17">
    </head>
<body>

    <!-- NOSOTROS - PAGINA -->

    <!-- HEADER -->
    <header class="header">
        <!-- LOGO -->
        <div class="header__container">
            <img loading="lazy" src="./../public/img/favicon-yweb.svg" class="header__img" width="40" height="40" alt="logo Yweb" title="Yweb Deserrollo web">
            <a href="./../../index.html" title="Diseño Web Barranquilla" ><img loading="lazy" class="header__logo" src="./../public/img/yweb.svg" alt="Diseño Web Barranquilla"></a>

            <!-- TOGGLE -->
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>
    <!-- NAV -->
    <nav class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="./../../index.html" class="nav__link nav__logo">
                    <i class='bx bx-git-commit nav__icon'></i>
                    <span class="nav__logo-name">Yweb</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Potafolio</h3>

                        <a href="#" class="nav__link">
                            <i class='bx bx-group nav__icon'></i>
                            <span class="nav__name">Nosotros</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-navigation nav__icon' ></i>
                            <span class="nav__name">Proyectos</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-world nav__icon' ></i>
                            <span class="nav__name">¡Hola mundo!</span>
                        </a>
                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Destacado</h3>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-star nav__icon'></i>
                                <span class="nav__name">Proyectos</span>
                                <i class="bx bx-chevron-down nav__icon nav__dropdown-icon"></i>
                            </a>
                            
                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Proyecto #1</a>
                                    <a href="#" class="nav__dropdown-item">Proyecto #2</a>
                                    <a href="#" class="nav__dropdown-item">Proyecto #3</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="nav__list">
                <a href="#" class="nav__link">
                    <i class='bx bxl-github nav__icon' ></i>
                    <span class="nav__name">Github</span>
                </a>
                <a href="#" class="nav__link ">
                    <i class='bx bxl-instagram nav__icon'></i>
                    <span class="nav__name">Instagram</span>
                </a>
            </div>
        </nav>
    </nav>
    <!-- CONTENTS -->
    <main class="main">

        <section class="contacto">
            <div class="contacto__item">
                <h1 class="yweb__title">Contacto 📞</h1>
                <p class="yweb__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat dolores, tempora alias voluptate architecto reprehenderit iste laborum tempore sunt eligendi.</p>
                <ul>
                    <li><a href="mailto:example@gmail.com"><i class='bx bx-mail-send nav__icon'></i>  contacto@yweb.com</a></li>
                    <li><a href="mailto:example@gmail.com"><i class='bx bxl-whatsapp nav__icon'></i>  +57 3003003020</a></li>
                </ul>
            </div>
            <div class="contacto__item">
                <form action="" class="formulario__yweb" id="formulario" method="post">
                    <!-- Grupo Nombre -->
                    <div class="formulario__grupo" id="grupo__nombre">
                        <label for="nombre" class="formulario__label">Nombre</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="fomulario__input" name="nombre" id="nombre" placeholder="Joe">
                            <i style="colornom: red" class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                        </div>
                        <p class="formulario__input-error">El nombre puede ser de 3 a 16 digitos  y solo puede contener letras.</p>
                    </div>
        
                    <!-- Grupo Apellido -->
                    <div class="formulario__grupo" id="grupo__apellido">
                        <label for="apellido" class="formulario__label">Apellido</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="fomulario__input" name="apellido" id="apellido" placeholder="Doe">
                            <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                        </div>
                        <p class="formulario__input-error">El apellido puede ser de 3 a 16 digitos  y solo puede contener letras.</p>
                    </div>
        
                    <!-- Grupo Correo  -->
                    <div class="formulario__grupo" id="grupo__correo">
                        <label for="correo" class="formulario__label">Correo Electronico</label>
                        <div class="formulario__grupo-input">
                            <input type="email" class="fomulario__input" name="correo" id="correo" placeholder="corro@cooreo.com">
                            <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                        </div>
                        <p class="formulario__input-error">El correo solo puede contener numero, letras y gruion bajo.</p>
                    </div>
        
                    <!-- Grupo Telefono  -->
                    <div class="formulario__grupo" id="grupo__telefono">
                        <label for="telefono" class="formulario__label">Telefono</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="fomulario__input" name="telefono" id="telefono" placeholder="301 000 0000">
                            <i class='bx bxs-message-square-x fomulario__validacion-estado'></i>
                        </div>
                        <p class="formulario__input-error">El telefono solo puede contener numeros.</p>
                    </div>
        
                    <!-- Grupo Telefono  -->
                    <div class="formulario__grupo" id="grupo__terminos">
                        <label class="formulario__label">
                            <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos"> Acepto terminos y condiciones
                        </label>
                    </div>
        
                    <div class="formulario__mensaje" id="mensaje__formulario">
                        <p><i class='bx bxs-message-square-error'></i> <b>Error:</b> Por favor rellene el formmulario correctamente.</p>
                    </div>
        
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Enviar</button>
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario Enviado Exitosamente</p>
                    </div>
                </form>
            </div>
        </section>

    </main>

    <!-- FOOTER -->
    <div class="footer__politicas-datos">
        <div class="footer__header yweb__subdescription">
            <p>Yweb © 2021 | Todos los derechos reservados | <span><a target="_blank" href="./doc/Yweb__politica-datos__2021.pdf">Política de Tratamiento de Datos Personales</a></span></p>
        </div>
    </div>

    <!-- MAIN JS -->
    <script src="./src/public/js/main.js"></script>
</body>
</html>