<section class="contacto">
    <div class="contacto__item">
        <h1 class="yweb__title">Contacto</h1>
        <p class="yweb__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat dolores, tempora alias voluptate architecto reprehenderit iste laborum tempore sunt eligendi.</p>
        <ul>
            <li><a href="mailto:example@gmail.com"><i class='bx bxl-whatsapp nav__icon'></i>  Lorem ipsum dolor sit.</a></li>
            <li><a href="mailto:example@gmail.com">  Lorem ipsum dolor sit.</a></li>
        </ul>
    </div>
    <div class="contacto__item">
        <form action="" method="post">
            <div class="form-control">
                <input type="text" name="" id="" placeholder="text">
            </div>
        </form>
    </div>
</section>