<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="icon" type="image/x-icon" href="./../public/img/favicon-yweb.svg">
    <!-- BOX ICON -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" style="font-display: swap" as="font" onload="this.onload=null;this.rel='stylesheet'">
    <!-- CSS -->
    <link rel="stylesheet" href="./../public/css/main.css">
    <title>Yweb 🚀</title>
    <!-- OPEN GRAPH -->
    <meta property="og:title" content="Yweb 🚀" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Agencia de desarrollo web en Barranquilla, contruyamos tu idea juntos, hacemos tu proyecto realidad.">
    <meta property="og:url" content="yweeb.com" />
    <meta property="og:image" content="https://raw.githubusercontent.com/yjgarizabalo/Yweb/master/src/public/img/hero__yweb_04.jpg" />
    <!-- META DATOS -->
    <meta name="description" content="Agencia de desarrollo web en Barranquilla, contruyamos tu idea juntos, hacemos tu proyecto realidad.">
    <meta name="keywords" content="Paginas Web Barranquilla, Dessarrollo Web Barranquilla, Diseño Web Barranquilla, Fotografo Barranquilla">
    <meta name="author" content="Yweb">
    <!-- MANIFIESTO PWA -->
    <link rel="manifest" href="./src/public/json/manifest.json">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/yjgarizabalo/Yweb/master/src/public/img/favicon__yweb.png">
    <meta name="theme-color" content="#130A17">
    </head>
<body>

    <!-- PROYECTOS - PAGINA -->

    <!-- HEADER -->
    <header class="header">
        <!-- LOGO -->
        <div class="header__container">
            <img loading="lazy" src="./../public/img/favicon-yweb.svg" class="header__img" width="40" height="40" alt="logo Yweb" title="Yweb Deserrollo web">
            <a href="./../../index.html" title="Diseño Web Barranquilla" ><img loading="lazy" class="header__logo" src="./../public/img/yweb.svg" alt="Diseño Web Barranquilla"></a>

            <!-- TOGGLE -->
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>
    <!-- NAV -->
    <nav class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="./../../index.html" class="nav__link nav__logo">
                    <i class='bx bx-git-commit nav__icon'></i>
                    <span class="nav__logo-name">Yweb</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Potafolio</h3>

                        <a href="./../../src/views/nosotros.html" class="nav__link">
                            <i class='bx bx-group nav__icon'></i>
                            <span class="nav__name">Nosotros</span>
                        </a>

                        <a href="./../../src/views/proyectos.html" class="nav__link">
                            <i class='bx bx-navigation nav__icon' ></i>
                            <span class="nav__name">Proyectos</span>
                        </a>

                        <a href="./../../src/views/holamundo.html" class="nav__link">
                            <i class='bx bx-world nav__icon' ></i>
                            <span class="nav__name">¡Hola mundo!</span>
                        </a>
                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Destacado</h3>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-star nav__icon'></i>
                                <span class="nav__name">Proyectos</span>
                                <i class="bx bx-chevron-down nav__icon nav__dropdown-icon"></i>
                            </a>
                            
                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Proyecto #1</a>
                                    <a href="#" class="nav__dropdown-item">Proyecto #2</a>
                                    <a href="#" class="nav__dropdown-item">Proyecto #3</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="nav__list">
                <a href="#" target="_blank" class="nav__link">
                    <i class='bx bxl-github nav__icon' ></i>
                    <span class="nav__name">Github</span>
                </a>
                <a href="#" target="_blank" class="nav__link">
                    <i class='bx bxl-instagram nav__icon'></i>
                    <span class="nav__name">Instagram</span>
                </a>
            </div>
        </nav>
    </nav>
    <!-- CONTENTS -->
    <main class="main">

        <!-- HERO - NOSOTROS -->
        <section class="hero__yweb">
            <div class="item__hero">
                <h1 class="yweb__title">Proyectos 👨‍💻</h1>
                <p class="yweb__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam excepturi quam facilis laborum ipsam magnam ut corporis commodi natus, dolore maiores a quaerat dolorum veritatis non reprehenderit repellat quod sit?</p>
                <p class="yweb__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit!</p>
            </div>
            <div class="item__hero">
                <img loading="lazy" class="hero__img" src="./../public/img/hero__yweb_09.jpg" width="400" height="250" alt="Desarrollo web Barranquilla"  title="Desarrollo web Barranquilla">
            </div>
        </section>


        <!-- PROYECTOS -->


    </main>

    <!-- FOOTER -->
    <div class="footer__politicas-datos">
        <div class="footer__header yweb__subdescription">
            <p>Yweb © 2021 | Todos los derechos reservados | <span><a target="_blank" href="./doc/Yweb__politica-datos__2021.pdf">Política de Tratamiento de Datos Personales</a></span></p>
        </div>
    </div>

    <!-- WHATSAPP -->
    <a rel="noopener" href="https://api.whatsapp.com/send?phone=573015595408&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre." class="float" target="_blank">
        <i class="bx bxl-whatsapp my-float"></i>
    </a>

    <!-- MAIN JS -->
    <script src="./../public/js/main.js"></script>
</body>
</html>