<!-- FOOTER -->
<footer class="footer">
    <div class="item__footer">
        <div>
            <div class="footer__header">
                <h3>Footer 1</h3>
            </div>
            <div>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>
        <div>
            <div class="footer__header">
                <h3>Footer 2</h3>
            </div>
            <div>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>
        <div>
            <div class="footer__header">
                <h3>Footer 3</h3>
            </div>
            <div>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>
        <div>
            <div class="footer__header">
                <h3>Footer 4</h3>
            </div>
            <div>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>
    </div>
</footer>