<!-- FOOTER -->
<div class="footer__politicas-datos">
    <div class="footer__header yweb__subdescription">
        <p>Yweb © 2021 | Todos los derechos reservados | <span><a target="_blank" href="./doc/Yweb__politica-datos__2021.pdf">Política de Tratamiento de Datos Personales</a></span></p>
    </div>
</div>