<!-- HEADER -->
<header class="header">
    <!-- LOGO -->
    <div class="header__container">
        <img loading="lazy" src="./img/favicon-yweb.svg" class="header__img" width="40" height="40" alt="logo Yweb" title="Yweb Deserrollo web">
        <a href="/" title="Diseño Web Barranquilla" ><img loading="lazy" class="header__logo" src="./img/yweb.svg" alt="Diseño Web Barranquilla"></a>

        <!-- TOGGLE -->
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
    </div>
</header>